<app-navbar></app-navbar>
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="login-form" #changePasswordForm (ngSubmit)="onChangePasswordForm( changePasswordForm )" >

        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" name="oldPassword" [(ngModel)]="changePasswordObj.oldPassword">
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" name="newPassword" [(ngModel)]="changePasswordObj.newPassword">
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" name="confirmPassword" [(ngModel)]="changePasswordObj.confirmPassword">
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">
            Change password
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
