<mat-toolbar class="navbar">
  <div class="navbar-left">
    <button mat-icon-button (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="brand">Dashboard</span>
  </div>

  <div class="navbar-right">
    <button mat-icon-button class="notification-btn">
      <mat-icon>notifications_none</mat-icon>
    </button>
    <div class="user-profile">
      <div class="user-avatar">
        <span>JS</span>
      </div>
    </div>
    <button mat-raised-button color="primary" routerLink="/regirser" routerLinkActive="active" class="signup-btn" (click)="onLogoutClick()">
      Logout
    </button>
  </div>
</mat-toolbar>
