<div class="register-container">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Create Account</mat-card-title>
      <mat-card-subtitle>Fill in your details to get started</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="register-form" #registerForm="ngForm" (ngSubmit)="onRegisterSubmit( registerForm )">
        <div class="name-fields">
          <!-- First Name -->
          <mat-form-field appearance="outline"
                          [class.mat-form-field-invalid]="registerErrors['first_name']">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your first name"
                   name="first_name"
                   required
                   #firstName="ngModel"
                   [(ngModel)]="registerFormObj.first_name"
                   (ngModelChange)="clearFieldError('first_name')">
            <mat-icon matPrefix>person</mat-icon>
            <mat-hint align="start" class="mat-error" *ngIf="registerErrors['first_name']">
              {{ registerErrors['first_name'] }}
            </mat-hint>
          </mat-form-field>

          <!-- Last Name -->
          <mat-form-field appearance="outline"
                          [class.mat-form-field-invalid]="registerErrors['last_name']">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your last name"
                   name="last_name"
                   required
                   #lastName="ngModel"
                   [(ngModel)]="registerFormObj.last_name"
                   (ngModelChange)="clearFieldError('last_name')">
            <mat-icon matPrefix>person</mat-icon>
            <mat-hint align="start" class="mat-error" *ngIf="registerErrors['last_name']">
              {{ registerErrors['last_name'] }}
            </mat-hint>
          </mat-form-field>
        </div>


        <!-- Email -->
        <mat-form-field appearance="outline"
                        [class.mat-form-field-invalid]="registerErrors['email']">
          <mat-label>Email</mat-label>
          <input matInput type="email"
                 placeholder="Enter your email"
                 name="email"
                 required
                 #email="ngModel"
                 [(ngModel)]="registerFormObj.email"
                 (ngModelChange)="clearFieldError('email')">
          <mat-icon matPrefix>email</mat-icon>
          <mat-hint align="start" class="mat-error" *ngIf="registerErrors['email']">
            {{ registerErrors['email'] }}
          </mat-hint>
        </mat-form-field>

        <!-- Username -->
        <mat-form-field appearance="outline"
                        class="full-width"
                        [class.mat-form-field-invalid]="registerErrors['username']">
          <mat-label>Username</mat-label>
          <input matInput
                 type="text"
                 name="username"
                 required
                 #username="ngModel"
                 [(ngModel)]="registerFormObj.username"
                 (ngModelChange)="clearFieldError('username')">
          <mat-icon matPrefix>person</mat-icon>
          <mat-hint align="start" class="mat-error" *ngIf="registerErrors['username']">
            {{ registerErrors['username'] }}
          </mat-hint>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="outline"
                        [class.mat-form-field-invalid]="registerErrors['password']">
          <mat-label>Password</mat-label>
          <input matInput
                 [type]="hidePassword ? 'password' : 'text'"
                 name="password"
                 required
                 #password="ngModel"
                 [(ngModel)]="registerFormObj.password"
                 (ngModelChange)="clearFieldError('password')">
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-hint align="start" class="mat-error" *ngIf="registerErrors['password']">
            {{ registerErrors['password'] }}
          </mat-hint>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline"
                        [class.mat-form-field-invalid]="registerErrors['confirmPassword']">
          <mat-label>Confirm Password</mat-label>
          <input matInput
                 [type]="hideConfirmPassword ? 'password' : 'text'"
                 name="confirmPassword"
                 required
                 #confirmPassword="ngModel"
                 [(ngModel)]="registerFormObj.confirmPassword"
                 (ngModelChange)="clearFieldError('confirmPassword')">
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-hint align="start" class="mat-error" *ngIf="registerErrors['confirmPassword']">
            {{ registerErrors['confirmPassword'] }}
          </mat-hint>
        </mat-form-field>

        <!--        <div class="name-fields">-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>First Name</mat-label>-->
<!--            <input matInput placeholder="Enter your first name" name="first_name" required #firstName="ngModel" [(ngModel)]="registerFormObj.first_name">-->
<!--            <mat-icon matPrefix>person</mat-icon>-->
<!--            <mat-error *ngIf="registerErrors['first_name']">-->
<!--              {{ registerErrors["first_name"] }}-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Last Name</mat-label>-->
<!--            <input matInput placeholder="Enter your last name" name="last_name" required #lastName="ngModel" [(ngModel)]="registerFormObj.last_name">-->
<!--            <mat-icon matPrefix>person</mat-icon>-->
<!--            <mat-error *ngIf="registerErrors['last_name']">-->
<!--              {{ registerErrors["last_name"] }}-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--        </div>-->

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Email</mat-label>-->
<!--          <input matInput type="email" placeholder="Enter your email" name="email" required #email="ngModel" [(ngModel)]="registerFormObj.email">-->
<!--          <mat-icon matPrefix>email</mat-icon>-->
<!--          <mat-error *ngIf="registerErrors['email']">-->
<!--            {{ registerErrors["email"] }}-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field-->
<!--          appearance="outline"-->
<!--          class="full-width"-->
<!--          [class.mat-form-field-invalid]="registerErrors['username']">-->
<!--          <mat-label>Username</mat-label>-->
<!--          <input  matInput-->
<!--                  type="text"-->
<!--                  name="username"-->
<!--                  required-->
<!--                  #username="ngModel"-->
<!--                  [(ngModel)]="registerFormObj.username"-->
<!--                  (ngModelChange)="clearFieldError('username')">-->
<!--          <mat-icon matPrefix>person</mat-icon>-->

<!--          <mat-hint align="start"-->
<!--                    class="mat-error"-->
<!--                    *ngIf="registerErrors['username']">-->
<!--            {{ registerErrors['username'] }}-->
<!--          </mat-hint>-->
<!--        </mat-form-field>-->


<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Password</mat-label>-->
<!--          <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" required #password="ngModel" [(ngModel)]="registerFormObj.password">-->
<!--          <mat-icon matPrefix>lock</mat-icon>-->
<!--          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">-->
<!--            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>-->
<!--          </button>-->
<!--          <mat-error *ngIf="registerErrors['password']">-->
<!--            {{ registerErrors["password"] }}-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Confirm Password</mat-label>-->
<!--          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" name="confirmPassword" required #confirmPassword="ngModel" [(ngModel)]="registerFormObj.confirmPassword">-->
<!--          <mat-icon matPrefix>lock</mat-icon>-->
<!--          <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">-->
<!--            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>-->
<!--          </button>-->
<!--          <mat-error *ngIf="registerErrors['confirmPassword']">-->
<!--            {{ registerErrors["confirmPassword"] }}-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->


        <button mat-raised-button color="primary" type="submit" class="submit-button">
          Create Account
        </button>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <p class="login-text">
        Already have an account? <a mat-button color="primary">Sign In</a>
      </p>
    </mat-card-footer>
  </mat-card>
</div>
